* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: orangered;
}
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}
section {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
section img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #ccc;
  margin-top: 29px;
  margin-right: 10px;
}
label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
}
input,
.button,
select {
  font-size: smaller;

  margin: 0;
  padding: 10px 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
}
.fileInput {
  display: none;
}
.button {
  cursor: pointer;
  padding: 10px 0;
}
section div,
section select {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #fff;
}
.radioName {
  display: flex;
  justify-content: center;
  margin: 0;
}
.radioName i {
  margin-right: 5px;
  padding-bottom: 10px;
}
.postalCode {
  border-radius: 0 5px 5px 0;
}
.city {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

/* buttons */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.buttons input,
.buttons a {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 10px;
  background-color: #fff;
  font-size: smaller;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  width: 100%;
}
.buttons a {
  text-decoration: none;
  color: black;
}
.buttons input:hover,
.buttons a:hover {
  background-color: rgb(206, 60, 15);
  color: white;
}

@media only screen and (max-width: 1024px) {
  /*get the seccond form*/
  .container
   {
    max-width: 230px !important;
  }
  label {
    flex-direction: column;
  }
  .buttons {
    flex-direction: column;
  }
  section img{
    width: 80px;
    height: 80px;
  }
  input{
    width: 120px;
  }

}