.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
}
.nav form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0;
}
.nav input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 3px;
}
.buttonGreen:hover,
.buttonRed:hover,
.buttonOrange:hover {
  color: white;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border: 1px solid white;
}
.buttonGreen:hover {
  background-color: rgb(40, 224, 40) !important;
}
.buttonRed:hover {
  background-color: rgb(224, 40, 40) !important;
}
.buttonOrange:hover {
  background-color: rgb(224, 160, 40) !important;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.active {
  right: 0 !important;
  display: flex;
  transition: right 0.3s ease-in;
}
@media only screen and (max-width: 1024px) {
  .nav form{
    width: 90%;
  }
  .nav .buttonMenu {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .nav ul {
    position: absolute;
    top: 0;
    right: -50% ;
    background-color: #00000080;
    backdrop-filter: blur(10px);
    color: white;
    padding: 80px 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 45%;
    height: 110%;
    transition: right 0.3s ease-out;
    display: none;
  }
  .nav li {
    margin-right: 0;
    margin-bottom: 20px;
    border: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
  .nav a {
    color: white;
  }
}